<!DOCTYPE html>
<html>
  <head>
    {{ $baseURL := .Site.BaseURL }}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Print(d) Team" />
    <meta name="description" content="Print(d) is an Android application designed to make 3D printing easy." />

    <title>Print(d)</title>
    <link rel="stylesheet" type="text/css" href="{{ $baseURL }}css/normalize.css">
    <link rel="stylesheet" type="text/css" href="{{ $baseURL }}css/flexboxgrid.min.css">
    <link rel="stylesheet" type="text/css" href="{{ $baseURL }}css/config.css">
  </head>
  <body>
    <nav class="nav">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#team">The Team</a></li>
        <li><a href="#deliverables">Deliverables</a></li>
      </ul>
    </nav>
    <div class="top-wrapper">
      <header>
        <div class="slant">
        </div>
        <section class="slant-body">
          <div class="row center-xs middle-xs">
            <div class="logo col-md-4">
              <img src="/images/logo.png" width="100%">
            </div>
          <div class="col-md-6">
            <h1>3D printing as easy as 1, 2, 3(d).</h1>
          </div>
        </div>
        </section>
      </header>
      <section id="about" class="intro">
        <div class="row end-xs">
          <div class="col-xs-10">
            <h1>3D printing should be easy.</h1>
            <p class="lead">Hot chicken messenger bag tilde hoodie hella literally. Jianbing fap banjo brunch meh put a bird on it, cronut heirloom chambray crucifix before they sold out edison bulb lo-fi asymmetrical roof party. Drinking vinegar forage skateboard small batch chartreuse, echo park beard. Asymmetrical man bun semiotics hot chicken cronut. Polaroid man bun heirloom, ennui etsy fap 90's try-hard. Hammock air plant authentic irony before they sold out selvage, edison bulb kinfolk cornhole waistcoat chillwave ennui. Brooklyn kale chips butcher etsy man braid sriracha.</p>
          </div>
        </div>
      </section>
    </div>
    <!-- <script src="https://use.fontawesome.com/77cc034766.js"></script> -->
  </body>
  </html>
