body {
  font-family: 'open sans', sans-serif;
  font-size: .9em;
  box-sizing: border-box;
  color: $body-color;
}

div, section {
  box-sizing: border-box;
}

h1 {
  font-family: 'raleway heading', sans-serif;
  font-size: 3em;
  // padding: 0;
}

.container {
  // padding: 0 30px;
  // margin: 0;
}

.top-wrapper {
  background-image: url('../images/pattern.png');
  background-repeat: repeat;
  min-height: 100vh;
}

header {
  position: relative;
  .slant {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: skewY(-12deg);
    transform-origin: 0;
    background: #ffffff;
    position: absolute;
  }
  .slant-body {
    position: relative;
    min-height: 800px;
    padding: 15vh 5vw 10vh 5vw;
    // box-sizing: border-box;
    // margin: 0;
    // padding: 0;
    h1 {
      font-family: 'raleway light';
      color: $blue;
    }
    .logo {
      padding: 30px;
    }
  }

}

.lead {
  font-family: "open sans light", sans-serif;
  font-size: 1.4em;
  padding: 0 20px;
  line-height: 1.6em;
}

.intro {
  color: #ffffff;
  text-align: right;
  padding: 2vh 3vw;
  margin: 0;
  .lead {
    // padding-left: 25%;
  }
  h1 {
    margin-top: -10%;
  }
}

.nav {
  position: absolute;
  z-index: 100;
  width: 100%;
  text-transform: uppercase;
  font-family: 'raleway', sans-serif;
  letter-spacing: 1px;
  ul {
    display: block;
    float: right;
    padding-right: 3vw;
  }
  li {
    list-style: none;
    margin: 10px 5px;
    float: left;
  }
  a {
    color: $body-color;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid rgba(0,0,0,0);
    &:hover {
      border: 1px solid $blue;
      color: $blue;
      border-radius: 30px;
    }
  }
}
